.navbar{
    /* backdrop-filter: blur(10px); */
    border: 2px solid rgba(255, 255, 255, 0.055);
  }
  
  .logo {
    font-family: 'Press Start 2P';
    position: absolute;
    text-align: center;
    font-size: 31px;
    left: 2%;
    top: 1px;
    padding: 5px 5px;
  
  }
  
  .border-fade {
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 25px;
    mask-border-mode: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  